article.center {
	position: absolute;
    top: 50%;
    transform: translate(100%, -50%);
	width: 30vw;
    margin: 1vw;
}

.center-text{
    text-align: center;
}

.middle {
    top: 50%;
    transform: translate(0 , -50%);
}

.lung-pic {
    width: 50%;
}

.hidden {
    display: none;
}

.active {
    display: inline-block;
}