article.center {
	position: absolute;
    top: 50%;
    transform: translate(100%, -50%);
	width: 30vw;
    margin: 1vw;
}

.center-text{
    text-align: center;
}

.middle {
    top: 50%;
    transform: translate(0 , -50%);
}

.lung-pic,
.lung-pic img {
    width: 50%;
}

.hidden {
    display: none;
}

.active {
    display: inline-block;
}

.qtd-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50%;
}

.top-text {
    position: absolute;
    bottom: 100%;
}

body[data-page="quadtree"] #top-buttons,
body[data-page="quadtree"] #navigation,
body[data-page="quadtree-checker"] #top-buttons,
body[data-page="quadtree-checker"] #navigation,
body[data-page="quadtree-slice"] #top-buttons,
body[data-page="quadtree-slice"] #navigation,
body[data-page="quadtree-stack"] #top-buttons,
body[data-page="quadtree-stack"] #navigation {
    display: none;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    height: 50vh;
    background:transparent;
}